<html>
<body>
<h1>TrainBookings LIST</h1>
<input type ="text" (change)="selectSourceHandler($event)" placeholder="Start">
<input type ="text" (change)="selectDestinationHandler($event)" placeholder="Ending">
<input type ="text" (change)="selectDayHandler($event)" placeholder="Day">
<input type ="text" (change)="selectClassHandler($event)" placeholder="Class">
<button (click)= "SearchTrain()"> Search</button>

<div *ngFor="let Trains of searchTrainList">

<h2>  {{Trains.TrainName}}</h2>
<h2>  {{Trains.StationStartingPoint}}</h2>
<h2>  {{Trains.StationEndingPoint}}</h2>
<h2>  {{Trains.StationDepartTime}}</h2>
<h2>  {{Trains.StationArriveTime}}</h2>
<h2>  {{Trains.TrainObjectTypeName }}</h2>
<h2>  {{Trains.TrainAvailableDay}}</h2>
<h2>   {{Trains.TrainApplicationObjectClassName}}</h2>
<h2>   {{Trains.data}}</h2>
<a href="#" class="btn btn-primary"  [routerLink]="['/train-bookings/add']">Book Now</a>

</div>

</body>
</html>








